[user]
  email = shyamasaki@gmail.com
  name = Shohei Yamasaki
[color]
  ui = true
[alias]
  st  = status
  co = checkout
  fork = checkout -b
  cp = cherry-pick
  a  = add
  ci = commit
  cm = commit -m
  ca = commit -am

  # branch関連
  br = branch
  ba = branch -a           # 全てのbranchを表示
  delete = branch -d
  Delete = branch -D

  p  = push
  po = push origin
  pf = push -f

  # 履歴関連
  ll = log --pretty=\"format:%ad %h (%an): %s\" --date=short
  ls = log --name-status

  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

[core]
  autocrlf = input
  quotepath = false
  editor = /usr/bin/vim
#pager = lv -c
[push]
  default = simple
[diff]
	noprefix = true
[credential]
	helper = osxkeychain
